.nav {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.159);
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__btn {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 17px;
  bottom: 17px;
}
