.user-component,
.user-component:first-child {
  display: flex;
  padding: 10px 20px;
  position: relative;
  align-items: center;
}
.user-component span {
  position: absolute;
  right: 10px;
  color: rgba(0, 0, 0, 0.2);
}
.user-component i {
  position: absolute;
  right: 0px;
  color: rgba(0, 0, 0, 0.2);
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  margin-right: 27px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}
.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-component__title {
  font-weight: 600;
  font-size: 18px;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  display: flex;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__time {
  margin-bottom: 1px;
  margin-top: -20px;
}
.user-component__badge {
  position: absolute;
  bottom: 20px;
  right: 15px;
  margin-top: -20px;
}
.user-component__column {
  display: flex;
  align-items: center;
}
